<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>ABOUT</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>{{ABOUTVARIABLE}}</h1>
        <a href="/rango/">Index</a><br />
        <img src="{% static "yorku.jpg" %}" alt="YorkU Logo" /> <!-- Images -->
        <code> #Trying to embed python code 
        	x=12
        </code>
    </body>

</html>